@import URL('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');

.myaccount-container {
    width: 100%;
    max-width: 1120px;
    height: center;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.myaccount-container form {
    background: #fff;
    width: 400px;
    max-width: 300px;
    margin-right: 0px;
}

.register-container form h1 {
    color: #00FF8C;
    font-size: 32px;
    margin-bottom: 32px;
}

.register-container form input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

.register-container form select {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

.lnr-eye {
    position: absolute;
    cursor: pointer;
}

.register-container form a {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.register-container form a svg {
    margin-right: 8px;
}

.register-container form a:hover {
    opacity: 0.8;
}